VITE_APP_ENV=production
VITE_API_BASE=https://api.fameplays.com/api
VITE_PUBLIC_SITE_URL=https://fameplays.com
VITE_CHAT_WS_URL=https://fame-plays-chat.sebas7240.workers.dev
VITE_CHAT_VOICE_ENABLED=true
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADnalZgQE_SkEYDp
VITE_ADMIN_EMAILS=sebas7240@gmail.com
VITE_FIREBASE_API_KEY=AIzaSyDNQtgtE0ttJVVKBOzmYN559ktzUAIfCh8
VITE_FIREBASE_AUTH_DOMAIN=fameplays-b2cfb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fameplays-b2cfb
VITE_FIREBASE_STORAGE_BUCKET=fameplays-b2cfb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=94103317869
VITE_FIREBASE_APP_ID=1:94103317869:web:5b80f69ca998aecd4dbe64
VITE_RIGHTS_CONTACT_EMAIL=
